@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,700;1,400&display=swap');
@import "normalize";

// === Mixins ===
@mixin Code_Pro {
    font-family: 'Source Code Pro', monospace;
}

@mixin Ubuntu {
    font-family: 'Ubuntu', sans-serif;
}

// === / Mixins ===


// === Common ===
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    @include Code_Pro;

    background-color: #ffff;
}

.section-outer {
    overflow: hidden;
    width: 70%;
    margin: auto;
    border-radius: 10px;
    border: 3px solid red;
}

.section-inner {
    //border: 1px solid red;
    margin: 10px;

}
// === / Common ===



// === Header ===
.section-header {
    background-color: dimgray;
    height: 60px;
    margin: 20px 20px 0 20px;

    .section-wrapper {
        display: flex;
    }

    &__logo {
        width: 30px;
        height: 30px;
        margin: 5px;

        img {
            width: 100%;
        }
    }
    &__text {}
}

// === / Header ===

// === Content ===
.section-content {
    display: flex;

    .section-navbar {
        width: 20%;
        background-color: #484e4d;
        padding: 10px;

        a {
            text-decoration-line: none;
            color: #01ff2b;
            transition: .3s;

            &:hover {
                color: yellowgreen;
                opacity: .7;
            }
        }

        a.active {
            color: yellowgreen;
        }
    }

    .section-profile {
        background-color: slategray;
    }
}


// === / Content ===





