@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,700;1,400&display=swap');
@import "normalize";

// === Mixins ===
@mixin Code_Pro {
  font-family: 'Source Code Pro', monospace;
}

@mixin Ubuntu {
  font-family: 'Ubuntu', sans-serif;
}

// === / Mixins ===


// === Common ===
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  @include Code_Pro;

  background-color: lightgray;
}

.section-outer {
  display: flex;
  flex-direction: column;

  overflow: hidden;
  width: 70%;
  margin: auto;
  border-radius: 10px;
  border: 1px solid green;
}

.section-inner {
  //border: 1px solid red;
  border-radius: 10px;
}

// === / Common ===


// === Header ===
.section-inner.section-header {
  margin: 10px 10px 0 10px;
}

.section-header {
  background-color: dimgray;
  height: 60px;

  .section-wrapper {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    width: 30px;
    height: 30px;
    margin: 15px;

    img {
      width: 100%;
    }
  }

  &__text {
    margin-right: 45px;
  }
}

// === / Header ===

// === Navbar ===
.section-navbar {
  width: 20%;
  background-color: #484e4d;
  padding: 10px;
  margin-right: 10px;

  a {
    text-decoration-line: none;
    color: #01ff2b;

  }

  .active-link {
    color: yellowgreen;
  }
}

.nav-wrapper {
  margin: 0;
  padding: 0;
  list-style: none;

  &__item {
    margin-top: 15px;
    transition: .3s;

    &-inner {
      display: flex;

      &:hover {
        color: yellowgreen;
        opacity: .7;
      }

      &_icon {
        margin-right: 10px;
      }

      &_link{

      }

    }

  }
}
// === / Navbar ===

// === Content ===
.section-content.section-inner {
  margin: 10px;
}

.section-content {
  display: flex;
}

.section-profile {
  background-color: slategray;
  width: 80%;
}


// === / Content ===

// === ProfileContent ===
.section-profile__content {
  display: flex;
  flex-direction: column;
}

// === / ProfileContent ===

// === ProfileInfo ===
.section-profile__info {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  &-image {
    height: 300px;

    img {
      height: 100%;
      width: 100%;
    }
  }

  &-content {

  }
}

// === / ProfileInfo ===


//.dialog  a {
//    color: #01ff2b;
//    text-decoration-line: none;
//}
//
//.dialog a.active {
//    color: yellowgreen;
//}

