@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,700;1,400&display=swap');
@import "normalize";

// === MIXINS ===
@mixin Code_Pro {
  font-family: 'Source Code Pro', monospace;
}

@mixin Ubuntu {
  font-family: 'Ubuntu', sans-serif;
}

// === / MIXINS ===


// === COMMON ===
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  @include Code_Pro;

  background-color: #cecece;
  color: #202020;
}

.section-outer {
  display: flex;
  flex-direction: column;

  overflow: hidden;
  width: 70%;
  margin: 15px auto;
  border-radius: 10px;
  border: 1px solid #4d5d53;
}

.section-inner {
  //border: 1px solid red;
  border-radius: 10px;
}

// === / COMMON ===


// === HEADER ===
.section-header {
  background-color: #505050;
  height: 60px;
  margin: 10px;

  .section-wrapper {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    width: 30px;
    height: 30px;
    margin: 15px;

    img {
      width: 100%;
    }
  }

  &__text {
    margin-right: 45px;
  }
}

// === / HEADER ===

// === CONTENT ===
.section-content {
  display: flex;
  margin: 0 10px 10px 10px;
}

// === / CONTENT ===

// === NAVBAR ===
.section-content__navbar {
  width: 20%;
  background-color: #505050;
  padding: 10px;
  margin-right: 10px;

  a {
    text-decoration-line: none;
    color: #01ff2b;
  }

  .active-link {
    color: yellowgreen;
  }
}

.nav-wrapper {
  margin: 0;
  padding: 0;
  list-style: none;


  &__item {
    margin-top: 15px;


    &-inner {
      display: flex;
      justify-content: left;
      transition: .3s;

      &:hover {
        color: yellowgreen;
        opacity: .7;
      }

      &_icon {
        margin-right: 10px;
        margin-left: 30px;
      }

      &_link {

      }

    }

  }
}

// === / NAVBAR ===

// === CONTENT-PROFILE ===
.section-content__profile {

  overflow: hidden;
  width: 80%;
}


// === / CONTENT-PROFILE ===

// === PROFILE-WRAPPER ===
.profile-wrapper {
  display: flex;
  flex-direction: column;

  // === PROFILE-WRAPPER__INFO ===
  .profile-wrapper__info {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
    background-color: #4C5866;

    &-image {
      height: 300px;

      img {
        height: 100%;
        width: 100%;
      }
    }

    &-content {

    }
  }

  // === / PROFILE-WRAPPER__INFO ===

  // === PROFILE-WRAPPER__POSTS ===
  .profile-wrapper__posts {

    margin-top: 10px;
    background-color: #4C5866;
    border-radius: 10px;
    overflow: hidden;
  }

  .profile-wrapper__posts-inner {
    display: flex;
    align-items: center;
    margin: 10px;

    &_input {
      flex-grow: 1;

      textarea {
        padding: 5px;
        border-radius: 10px;
        resize: none;
        outline: none;
        height: 80px;
        width: 100%;
        background: rgba(255, 255, 255, .3);
      }

    }

    &_btn {
      padding: 15px;
      margin-left: 10px;
      color: #01ff2b;
      transition: .3s;

      &:hover {
        color: yellowgreen;
        opacity: .7;
      }
    }

    &_post {
      @include Ubuntu;
      margin: 35px;
      background: rgba(255, 255, 255, .15);
      //border: 1px solid red;
      border-radius: 10px;


      .post-wrapper {
        display: flex;
        align-items: center;
        margin: 15px;

        &__image {
          margin: 5px;
          width: 100px;
          height: 100px;
          //border: 1px solid red;
          border-radius: 100%;

          img {
            width: 100%;
          }
        }

        &__message {
          margin-left: 50px;
        }
      }

      .like-wrapper {
        display: flex;
        width: 90px;
        margin-left: 10px;
        margin-bottom: 5px;
        color: #01ff2b;
        transition: .3s;

        &:hover {
          color: yellowgreen;
          opacity: .7;
        }

        &__likes {
          align-items: center;

        }

        &__count {
          margin-left: 10px;
        }
      }
    }
  }

  // === / PROFILE-WRAPPER__POSTS ===
}

// === / PROFILE-WRAPPER ===

// === DIALOGS-WRAPPER ===
.dialogs-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  //border: 1px solid red;
  border-radius: 10px;
  height: 100%;

  &__content {
    flex-grow: 1;
    display: flex;
    overflow: hidden;

    &-dialog {
      width: 200px;
      border-radius: 10px;
      background-color: #4C5866;

    }

    &-messages {
      @include Ubuntu;
      margin-left: 10px;
      padding: 5px 10px 5px 10px;

      flex-grow: 1;
      border-radius: 10px;
      background-color: #4C5866;
    }
  }

  &__input {
    display: flex;
    align-items: center;
    margin-top: 10px;
    border-radius: 10px;
    background-color: #4C5866;

    &-area {
      flex-grow: 1;

      textarea {
        margin: 10px;
        padding: 5px;
        border-radius: 10px;
        resize: none;
        outline: none;
        height: 100%;
        width: 100%;
        background: rgba(255, 255, 255, .3);
      }
    }

    &-btn {
      padding: 15px;
      margin-left: 10px;
      color: #01ff2b;
      transition: .3s;

      &:hover {
        color: yellowgreen;
        opacity: .7;
      }
    }
  }


}


// === / DIALOGS-WRAPPER ===

//.dialog  a {
//    color: #01ff2b;
//    text-decoration-line: none;
//}
//
//.dialog a.active {
//    color: yellowgreen;
//}

