.navWrap {
  grid-area: nav;

  margin: 10px;
  font-size: 18px;
  color: #33FF00;
  background-color: #4c5866;
  border: 1px solid #464646;
  border-radius: 10px;

  .navContent {
    display: flex;
    flex-direction: column;
    margin: 10px 10px 10px 20px;

    .navItem {
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}