@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,700;1,400&display=swap');

@mixin Ubuntu {
  font-family: 'Ubuntu', sans-serif;
}

.dialogsWrapper {
  @include Ubuntu;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  //border: 1px solid red;
  border-radius: 10px;
  height: 100%;

  .content {
    flex-grow: 1;
    display: flex;
    overflow: hidden;

    .contentDialog {
      width: 150px;
      border-radius: 10px;
      background-color: #4C5866;
      flex-shrink: 0;
    }

    .contentMessages {

      margin-left: 10px;
      padding: 5px 10px 5px 10px;
      overflow-x: hidden;
      height: 500px;
      overflow-y: auto;
      flex-grow: 1;
      border-radius: 10px;
      background-color: #4C5866;

      .contentMessagesRequest {
        border: 1px solid red;

        &:before {

        }

        &:after {

        }

      }
    }
  }

  .input {
    display: flex;
    align-items: center;
    margin-top: 10px;
    border-radius: 10px;
    background-color: #4C5866;

    .inputArea {
      flex-grow: 1;

      textarea {
        margin: 10px;
        padding: 5px;
        border-radius: 10px;
        resize: none;
        outline: none;
        height: 100%;
        width: 100%;
        background: rgba(255, 255, 255, .3);
      }
    }

    .inputBtn {
      padding: 15px;
      margin-left: 10px;
      color: #01ff2b;
      transition: .3s;

      &:hover {
        color: yellowgreen;
        opacity: .7;
      }
    }
  }
}
