@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,700;1,400&display=swap');

@mixin Ubuntu {
  font-family: 'Ubuntu', sans-serif;
}

.messageBody {
  @include Ubuntu;

  width: 400px;
  margin: 10px;
  padding: 10px;
  background-color: rgba(255, 255, 255, .3);
  border: 2px solid #505050;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}



